<style>
    body {
        background-color: rgba(0, 0, 10, 1);
        color: rgba(173, 216, 230, 1); /* Light Turquoise */
        font-family: "Arial", sans-serif;
    }

    .header {
        background-color: rgba(0, 0, 10, 1);
        color: rgba(173, 216, 230, 1); /* Light Turquoise */
        padding: 20px;
        text-align: center;
    }

    .main-content {
        margin: 20px;
    }

    .button {
        background-color: rgba(173, 216, 230, 1); /* Light Turquoise */
        color: rgba(0, 0, 10, 1);
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        font-size: 16px;
    }

    .button:hover {
        background-color: rgba(0, 0, 10, 1);
        color: rgba(173, 216, 230, 1); /* Light Turquoise */
    }

    #crowdfund-main-image {
        border-radius: var(--btcpay-border-radius);
        object-fit: cover;
        max-width: 100%;
        max-height: 40vh;
    }

    #crowdfund-body-description {
        font-size: 16px;
        color: rgba(173, 216, 230, 1); /* Light Turquoise */
    }
</style>
